node_modules/
.env
.DS_Store

# Python virtual environment
venv/
__pycache__/
*.pyc

# Robot Framework outputs
tests/e2e/results/
log.html
report.html
output.xml

# Data folders
history/
ongoing/
*.json
!package.json
!package-lock.json
!*.js
*.log
